.body{
    margin: 0;
    padding: 0;
}

#cover{
    margin: 0;
    height: 80vh;
    background-image: url("../media/img_portada.jpg");
    background-size: cover;
}

.title{
    padding-top: 20vh;
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
}

.subtitle{
    padding-top: 10vh;
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
}

.image_quienessomos{
    padding: 5vw;
}

#call-to-action-cover{
    margin-top: 10vh;
    align-self: center;
}

#sections{
    height: 100%;
    background: linear-gradient(180deg, rgba(81,141,160,1) 0%, rgba(255,255,255,1) 100%);
}

.quienessomos{
    padding-top: 2vh;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.container {
    font-family: 'Inter', sans-serif;
    padding-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_qs {
    align-items: center;
    width: 30vw;
}
.container p
{
    font-weight: lighter;
    text-align: center;
    font-size: 2rem;
}

.column-md{
    align-items: center;
}

@media (min-width: 0px) and (max-width: 800px){
    .title{
        padding-top: 20vh;
        color: white;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 1.5rem;
    }

    .subtitle{
        padding-top: 10vh;
        color: white;
        text-align: center;
        font-family: 'Inter Light', sans-serif;
        font-size: 1rem;
    }
    .image_qs {
        align-items: center;
        width: 300px;
    }
    .container p
    {
        font-weight: lighter;
        text-align: center;
        font-size: 1rem;
        margin-top: 2vw;
    }

}

@media (min-width: 800px) and (max-width: 1200px){
    .title{
        padding-top: 20vh;
        color: white;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 2rem;
    }

    .subtitle{
        padding-top: 10vh;
        color: white;
        text-align: center;
        font-family: "Inter Light", sans-serif;
        font-size: 2rem;
    }
    .image_qs {
        align-items: center;
        width: 350px;
    }
    .container p
    {
        font-weight: lighter;
        text-align: center;
        font-size: 1.5rem;
    }

}