.body{
    margin: 0;
    padding: 0;
}

#cover{
    margin: 0;
    height: 80vh;
    background-image: url("../media/img_portada.jpg");
    background-size: cover;
}

.title{
    padding-top: 20vh;
    color: white;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 2.5rem;
}

.subtitle{
    padding-top: 10vh;
    color: white;
    text-align: center;
    font-family: "Roboto Light", sans-serif;
    font-size: 1.5rem;
}

#call-to-action-cover{
    margin-top: 10vh;
    align-self: center;
}

#sections{
    height: 100%;
    background: linear-gradient(180deg, rgba(81,141,160,1) 0%, rgba(255,255,255,1) 100%);
}

@media (min-width: 0) and (max-width: 800px){
    .title{
        padding-top: 20vh;
        color: white;
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 1.5rem;
    }

    .subtitle{
        padding-top: 10vh;
        color: white;
        text-align: center;
        font-family: "Roboto Light", sans-serif;
        font-size: 1rem;
    }
}

@media (min-width: 800px) and (max-width: 1200px){
    .title{
        padding-top: 20vh;
        color: white;
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 2rem;
    }

    .subtitle{
        padding-top: 10vh;
        color: white;
        text-align: center;
        font-family: "Roboto Light", sans-serif;
        font-size: 1.5rem;
    }

}


/*Quienes Somos*/



.container_qs
{
    /*background-color: #518DA0;*/
    font-family: 'Inter', sans-serif;
    margin: auto;
}
.container_qs h1
{
    text-align: center;
    font-weight: normal;
    font-size: 32pt;
}
.container_qs img
{
    float: left;
    padding-right: 20px;
    padding-left: 15px;
    width: 50%;
}
.container_qs p
{
    padding: 60px;
    font-weight: lighter;
    text-align: center;
    font-size: 18pt;

}
@media only screen and (max-width: 430px)
{
    .container_qs img
    {
        width: 69%;
        float: none;
    }
    .container_qs
    {
        text-align: center;
    }
    .container_qs h1
    {
        font-size: 25pt;
    }
    .container_qs p
    {
        font-size: 15pt;
        margin: auto;
        padding: 40px;
    }
}